// Body
$body-bg: white;
$white: #ffffff;
$dark-gray: #333333;
$light-gray: #f8f9fa;
$dark-blue-gray: #343a40;
$blue: #007bff;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
