

.menu {
    background-color:$dark-blue-gray;
    color:white;
}
.menu ul li a{ 
    background-color: $dark-gray;
    color:white;
}
.menu ul li button{ 
    background-color: $dark-gray;
    color:white;
}
